<div class="center hero-unit">
  <h1>Welcome to Bubble!</h1>
  <p>
   Bubble is an exclusive community of influencers and thought leaders. Bubble is your platform to exchange ideas, offer perspective, and befriend new people. 
</p>
 <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>