<% provide(:title, 'About') %>
<h1>About</h1>
<p>
Bubble is an exclusive community of thought leaders. Bubble is a platform to spread ideas, provide and receive perspective on important topics, and establish productive relationships with peers.
</p>  
<p>
Bubble was built using Michael Hartl's <a href="https://www.railstutorial.org/" target="_blank">Rails Tutorial</a> as its foundation.
</p>