<div class="center hero-unit">
  <h1>Welcome to Bubble!</h1>
  <p>
  Bubble is moving in.
</p>
 <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("bubble.png", alt: "Bubble"), root_path %>
